@model TalentConnect.Models.Formacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoEstudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoEstudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Bairro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
